<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>Productos</h1>
    <!-- Línea separadora -->
    <hr class="separator" />

    <div>
      <h2>Crear Producto</h2>

      <form id="formProd" action="/products" method="POST">
        <label for="title">TÍTULO</label>
        <input type="text" name="title" required />
        <br />

        <label for="description">DESCRIPCIÓN</label>
        <input type="text" name="description" required />
        <br />

        <label for="code">CÓDIGO</label>
        <input type="text" name="code" required />
        <br />

        <label for="price">PRECIO</label>
        <input type="number" name="price" required min="0" />
        <br />

        <label for="stock">STOCK</label>
        <input type="number" name="stock" required />
        <br />

        <label for="category">CATEGORIA</label>
        <input type="text" name="category" required />
        <br />

        <button type="submit">CREAR</button>
      </form>
    </div>

    <!-- Línea separadora -->
    <hr class="separator" />

    <ul id="listProd">
      {{#each products}}
        <li>
          <h3>{{title}}</h3>
          <p>{{description}}</p>
          <p>Código: {{code}}</p>
          <p>Precio: {{price}}</p>
          <p>Stock: {{stock}}</p>
          <p>Categoría: {{category}}</p>
        </li>
      {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
  </body>
</html>